environment: production
environmentCode:
name: ffc-ffd-landing-page
namespace: ffc-ffd
workstream: ffc-ffd
image: ffc-ffd-landing-page

labels:
  component: service

appInsights:
  connectionString:

containerConfigMap:
  name: ffc-ffd-landing-page-config-map

containerSecret:
  name: ffc-ffd-landing-page-container-secret
  type: Opaque

deployment:
  priorityClassName: high

ingress:
  class: nginx
  endpoint: ffc-ffd
  server: example.com
  path: /landing-page

container:
  requestMemory: 100Mi
  requestCpu: 100m
  limitMemory: 100Mi
  limitCpu: 100m
  port: 3001

livenessProbe:
  path: /landing-page/healthz
  port: 3001
  initialDelaySeconds: 20
  periodSeconds: 10
  failureThreshold: 3
  timeoutSeconds: 5

readinessProbe:
  path: /landing-page/healthy
  port: 3001
  initialDelaySeconds: 30
  periodSeconds: 10
  failureThreshold: 3
  timeoutSeconds: 5
